/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@500&family=Work+Sans:wght@200;300;500;600&display=swap');

/* common styles or utilitys */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    background: #f3f1ff;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {

    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top: 10px;
    border-radius: 5px;
}

.hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}

/* top players style */
s .top-players {
    margin-bottom: 30px;
}

.section-title {
    color: #562EFF;
    font-size: 18px;
    margin-top: 3px;

}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin: 16px;
}

/* -------------------
        top blog styles 
    ----------------------*/
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;

}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 187px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/* ======================
      courses style
 ====================== */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course .course-banner img {
    width: 266px;
    height: 141px;
}

.course-info {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-duration {
    border: 1px;
    height: 30px;
    width:
        94.83px;
    background: #FFE4E8;
    border-radius: 20px;

}

.fa-clock {
    font-weight: 600;
    font-size: 14.6913px;
    color: #FF4A60;
}


/* ---------------------------------
           Media Quaries 
--------------------------------*/
@media only screen and (max-width:688px) {
    .container {
        width: 100%;

    }

    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blog {
        flex-direction: column;
    }
}

/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px) {

    .container {
        width: 100%;

    }

    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

}